<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scauly.SpringCloud.dao.FundorderDao">
  <resultMap id="BaseResultMap" type="com.scauly.SpringCloud.entities.Fundorder">
    <id column="orderID" jdbcType="BIGINT" property="orderid" />
    <result column="buyerID" jdbcType="BIGINT" property="buyerid" />
    <result column="sellerID" jdbcType="BIGINT" property="sellerid" />
    <result column="fundID" jdbcType="BIGINT" property="fundid" />
    <result column="orderTime" jdbcType="VARCHAR" property="ordertime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    orderID, buyerID, sellerID, fundID, orderTime
  </sql>
  <select id="selectByExample" parameterType="com.scauly.SpringCloud.entities.FundorderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fundorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fundorder
    where orderID = #{orderid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fundorder
    where orderID = #{orderid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.scauly.SpringCloud.entities.FundorderExample">
    delete from fundorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.scauly.SpringCloud.entities.Fundorder">
    insert into fundorder (orderID, buyerID, sellerID, 
      fundID, orderTime)
    values (#{orderid,jdbcType=BIGINT}, #{buyerid,jdbcType=BIGINT}, #{sellerid,jdbcType=BIGINT}, 
      #{fundid,jdbcType=BIGINT}, #{ordertime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scauly.SpringCloud.entities.Fundorder">
    insert into fundorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        orderID,
      </if>
      <if test="buyerid != null">
        buyerID,
      </if>
      <if test="sellerid != null">
        sellerID,
      </if>
      <if test="fundid != null">
        fundID,
      </if>
      <if test="ordertime != null">
        orderTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=BIGINT},
      </if>
      <if test="buyerid != null">
        #{buyerid,jdbcType=BIGINT},
      </if>
      <if test="sellerid != null">
        #{sellerid,jdbcType=BIGINT},
      </if>
      <if test="fundid != null">
        #{fundid,jdbcType=BIGINT},
      </if>
      <if test="ordertime != null">
        #{ordertime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scauly.SpringCloud.entities.FundorderExample" resultType="java.lang.Long">
    select count(*) from fundorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fundorder
    <set>
      <if test="record.orderid != null">
        orderID = #{record.orderid,jdbcType=BIGINT},
      </if>
      <if test="record.buyerid != null">
        buyerID = #{record.buyerid,jdbcType=BIGINT},
      </if>
      <if test="record.sellerid != null">
        sellerID = #{record.sellerid,jdbcType=BIGINT},
      </if>
      <if test="record.fundid != null">
        fundID = #{record.fundid,jdbcType=BIGINT},
      </if>
      <if test="record.ordertime != null">
        orderTime = #{record.ordertime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fundorder
    set orderID = #{record.orderid,jdbcType=BIGINT},
      buyerID = #{record.buyerid,jdbcType=BIGINT},
      sellerID = #{record.sellerid,jdbcType=BIGINT},
      fundID = #{record.fundid,jdbcType=BIGINT},
      orderTime = #{record.ordertime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.scauly.SpringCloud.entities.Fundorder">
    update fundorder
    <set>
      <if test="buyerid != null">
        buyerID = #{buyerid,jdbcType=BIGINT},
      </if>
      <if test="sellerid != null">
        sellerID = #{sellerid,jdbcType=BIGINT},
      </if>
      <if test="fundid != null">
        fundID = #{fundid,jdbcType=BIGINT},
      </if>
      <if test="ordertime != null">
        orderTime = #{ordertime,jdbcType=VARCHAR},
      </if>
    </set>
    where orderID = #{orderid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scauly.SpringCloud.entities.Fundorder">
    update fundorder
    set buyerID = #{buyerid,jdbcType=BIGINT},
      sellerID = #{sellerid,jdbcType=BIGINT},
      fundID = #{fundid,jdbcType=BIGINT},
      orderTime = #{ordertime,jdbcType=VARCHAR}
    where orderID = #{orderid,jdbcType=BIGINT}
  </update>
</mapper>